default_language_version:
  python: python3.12

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: .venv/bin/ruff check
        language: system
        types: [python]
      - id: black
        name: black
        entry: .venv/bin/black --check
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: .venv/bin/isort --check-only
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: .venv/bin/mypy
        language: system
        pass_filenames: false
