www.deutchquizarena.de {
  redir https://deutchquizarena.de{uri} 308
}

deutchquizarena.de {
  encode zstd gzip

  handle /webhook* {
    reverse_proxy api:8000
  }

  handle_path /api/* {
    reverse_proxy api:8000
  }

  handle {
    reverse_proxy frontend:3000
  }

  tls {$CADDY_EMAIL}

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
